body {
	background-image: url(../images/train-station.jpg);
	text-align: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

panel-heading {
    color: #EEB422;
    background: #003153;
    font-weight:bold;
    padding: 1%;
}

tr {
    color: #003153;
    font-weight: bold;
}

.form-group {
    color: #003153;
    background: #EEB422;
    font-weight:bold;
    padding: 1%;
    margin-top: 1%
}

.jumbotron, h1 {
	background-color: #003153;
	color:#EEB422;
	font-weight: bolder;
}

h5 {
	color:#EEB422;
}
